.CharDetailCard {
    background-color: #FAFAFA ;
}
.CharDetailCard img {
    width: 300px;
}

.CharDetailCardInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}